<script setup>
import { useTaskStore } from './stores/TaskStore'
import TaskForm from './components/TaskForm.vue'
import TaskDetails from './components/TaskDetails.vue'
import { ref } from 'vue';
const taskStore = useTaskStore()

console.log(taskStore)

const filter = ref('all')

</script>

<template>
  <main>
    <!-- heading -->
    <header>
      <img src="https://pinia.vuejs.org/logo.svg" alt="pinia logo">
      <h1>Pinia Tasks</h1>
    </header>

    <!-- task form -->
    <div class="new-task-form">
      <TaskForm />
    </div>

    <!-- filter -->
    <nav class="filter">
      <button @click="filter = 'all'">All</button>
      <button @click="filter = 'favs'">Favs</button>
    </nav>

    <!-- task list -->
    <div class="task-list" v-if="filter === 'all'">
      <p> there are {{taskStore.taskCount }} tasks </p>
      <div v-for="task in taskStore.tasks" :key="task.id">
        <!-- <p>{{ task.title }}</p> -->
        <TaskDetails :task="task" />
      </div>
    </div>
    <div class="task-list" v-if="filter === 'favs'">
      <p> there are {{ taskStore.favCount }} favs </p>
      <div v-for="task in taskStore.favs">
        <!-- <p>{{ task.title }}</p> -->
        <TaskDetails :task="task" />
      </div>
    </div>

    <!-- reset button -->


  </main>
</template>

<style scoped>
</style>
